@tailwind base;
@tailwind components;
@tailwind utilities;

/* document styles */

body {
  overflow-x: hidden;
  background-color: #131313;
  color: #e5f5ee;
  font-family: var(--font-libre-caslon-text), Tahoma, Helvetica, sans-serif;
}
